<div class="container-fluid">
    <div class="card shadow">
        <div class="row g-0">
            <div class="col-sm-6 col-md-4">
              <div class="treatment-div">
                <div class="form-check" *ngFor="let t of treatments">
                    <input class="form-check-input" type="radio" name="flexRadioDefault-treatment" #tradio1 id="{{t.treatmentId}}" (change)="Change($event, tradio1)">
                    <label class="form-check-label" for="{{t.treatmentId}}">
                      {{t.treatmentName}}
                    </label>
                </div>
              </div>
            </div>
            
            <div class="col-6 col-md-4">
              <div class="sprecialist-div">
                <div class="form-check" *ngFor="let s of specialists">
                  <input class="form-check-input" type="radio" name="flexRadioDefault-specialist" id="{{s.specialistId}}">
                  <label class="form-check-label" for="{{s.specialistId}}">
                    {{s.specialistName}}
                  </label>
                </div>
              </div>
            </div>
        </div>
        <button >Submit</button>
    </div>
</div>