<div class="container-fluid">
    <div class="card shadow">
        <div class="username">
            <div class="input-group flex-nowrap">
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
        </div>
        <div class="password">
            <div class="input-group flex-nowrap">
            <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
            </div>
        </div>
        <div class="submitButton">
            <button type="button" class="btn btn-primary btn-sm">Submit</button>
        </div>
   </div>
</div> 